#menu{

	margin: 20px 0px;
}
#menu th{
	border-bottom: 1px solid black;

}
#menu td{
	text-align: center;	
}

#menu a:link, #menu a:visited{
	text-decoration: none;
	color: #506361;
	margin: 0px 2px;
	font-size: 12px;
	font-family: Arial;
}

#menu a:hover{
	text-decoration: underline;
}

#menu a.red{
	color: red;
	font-weight: bold;
}
#menu a.blue{
	color: #8CA2C1;
}
