#wrapper{
	border: 1px solid green;
	padding: 40px 5%;
}

.box{
	width: 30%;
	height: 30px;
	border: 1px solid red;
	margin-bottom: 40px;
	transition: all 1s ease;
}

#wrapper div:last-child{
	margin-bottom: 0;
}

#wrapper:hover div{
	width: 100%;
}