#wrapper{
	width:1000px;
	margin: auto;
	border: 1px solid black;
}

header, main, footer, aside{
	display: block;
}

header, footer{
	height: 200px;	
	border: 1px solid black;
}

aside{
	width: 200px;
	height: 502px;
	float: left;
	outline: 1px solid black;
}

main{
	width: 600px;
	height: 502px;
	outline: 1px solid black;
	float: left;
}
.clearfix{
	clear: both;
}