div{
	width: 658px;
	border: 1px solid #707070;
	padding: 20px;
	margin: 0px auto 20px auto;
	text-align: justify;
}
p{
	margin: 10px 0px;
	font: 13px/27px Arial;
}
h1{
	font-size: 24px;
	margin: 0px;
}
a:link, a:visited{
	text-decoration: none;
	color: blue;
}
a:hover{
	text-decoration: underline;
}
.link-more{
text-align: right;
margin-right: 20px;
}
img{
	float:left;
	margin: 7px 10px 0px 0px;
	border: 1px solid black;
}

