#wrapper{
	width: 70%;
	max-width: 1000px;
	min-width: 600px;
	margin: auto;
	border: 1px solid black;
}

header, main, footer, aside{
	display: block;
}

header, footer{
	height: 200px;	
	border: 1px solid black;;
}

main{
	height: 500px;
	margin: 0px 200px;
	outline: 1px solid black;
}

.sidebar-left{
	width: 200px;
	height: 500px;
	float: left;
	outline: 1px solid black;
}

.sidebar-right{
	width: 200px;
	height: 500px;
	float: right;
	outline: 1px solid black;
}

.clearfix{
	clear: both;
}