.grayscale{
	filter: grayscale(100%);
}

.sepia{
	filter: sepia(100%);
}

.saturate{
	filter: saturate(60%);
}

.hue-rotate{
	filter: hue-rotate(90deg);
}

.invert{
	filter: invert(100%);
}

.opacity{
	filter: opacity(50%);
}

.brightness{
	filter: brightness(70%);
}

.contrast{
	filter: contrast(50%);
}

.blur{
	filter: blur(1px);
}

.drop-shadow{
	filter: drop-shadow(16px 16px 20px black);
}