div{
	margin: 16px 0px;
	padding: 10px;
	width: 60%;
	border: 1px solid black;
	text-align: justify;
}

.box{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
}

.box:hover{
	white-space: normal;
	cursor: pointer;
	 
}