
body{
	margin: 0px;
}

#wrapper{
	width: 29.6%;
	margin: 8px auto;
	
}

#menu ul{
	margin: 0px;
	padding: 0px;
	border: 1px solid blue;
	display: flex;
	flex-direction: column;	
}
#menu li{
	list-style-type: none;
	border: 1px solid blue;

}

#menu a:link, #menu a:visited{
	display: block;
	text-decoration: none;
	background-color: #2696E8;
	color: white;
	padding: 10px;
}

#menu a:hover{
	background-color: white;
	color: #2696E8;
}
