div{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	margin: 50px auto;
}

#box1:hover{
	transform: rotate(45deg);
	transform-origin: right bottom;
}

#box2:hover{
	transform: rotate(45deg);
	transform-origin: left bottom;
}

#box3:hover{
	transform: rotate(45deg);
}

#box4:hover{
	transform: rotate(-45deg);
	transform-origin: right top;
}

#box5:hover{
	transform: scale(2);
	transform-origin: right bottom;
}

#box6:hover{
	transform: skew(45deg);
	transform-origin: left bottom;
}